@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Error - RazorStartBootstrapAdmin</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body>
        <div id="layoutError">
            <div id="layoutError_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="text-center mt-4">
                                    <h1 class="display-1">
                                        @if (Model.Code.HasValue)
                                        {
                                            <span>@Model.Code.Value</span>
                                        }
                                        else
                                        {
                                            <span>Error</span>
                                        }
                                    </h1>
                                    <h2 class="text-danger">An error occurred while processing your request.</h2>

                                    @if (Model.ShowRequestId)
                                    {
                                        <p>
                                            <strong>Request ID:</strong> <code>@Model.RequestId</code>
                                        </p>
                                    }

                                   <a asp-page="/Index">
                                        <i class="fas fa-arrow-left me-1"></i>
                                        Return to Dashboard
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutError_footer">
                <partial name="Shared/_Footer.cshtml" />
            </div>
        </div>

        <script src="~/js/site.js" asp-append-version="true"></script>
    </body>
</html>
